body{
  font-family: Ariel, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
img.background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: blur(5px);
}
.container{
  background: rgb(255, 241, 112);
  padding: 20px 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

h1{
  text-align: center;
  font-size: 50px;
  color: orangered;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-bottom: 20px;
}

form{
  display: flex;
}

form input{
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}
form button{
  padding: 10px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 0 5px 0 5px;
  cursor: pointer;
}
form button:hover{
  background-color: orange;
}
ul{
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
li{
  display: flex;
  justify-content: space-between;
  background: rgb(244, 245, 241);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: cursive;
}
li.completed{
  text-decoration: line-through;
  color: gray;
}
li button{
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
li button:hover{
  background: darkred;
}